<!DOCTYPE html>
<html lang="mr">
<head>
  <meta charset="UTF-8" />
  <title>рд╢реЗрддрдХрд░реА рд▓реЙрдЧрд┐рди</title>
  <!-- <link rel="stylesheet" href="/style.css" /> -->
  <link rel="stylesheet" href="/mystyle.css" />
</head>
<body>
  <h1>ЁЯФР рд╢реЗрддрдХрд░реА рд▓реЙрдЧрд┐рди</h1>
  <div id="login-container">
    <form action="/login" method="POST" class="login-form">
        <label for="farmerId">рд╢реЗрддрдХрд░реА рдЖрдпрдбреА:</label>
        <input type="text" id="farmerId" name="farmerId" required />
    
        <label for="password">рдкрд╛рд╕рд╡рд░реНрдб:</label>
        <input type="password" id="password" name="password" required />
    
        <button type="submit">рд▓реЙрдЧрд┐рди рдХрд░рд╛</button>
      </form>
  </div>
  <a href="/">тмЕя╕П рдореБрдЦреНрдпрдкреГрд╖реНрда</a>
</body>
</html>
